body {
  width: auto;
  height: auto;
  transition: 10s;
  background-color: rgb(54, 177, 177);
}


div :hover {
  background-color: rgb(241, 176, 203);
  width: 300px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

